<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="sideA">
        <h1 class="head">Nexus</h1>
        <div class="navbar">
            <div class="nav-items">
                <a class="nav-list" href="{{ url_for('home') }}">Home</a>
                <a class="nav-list" href="{{ url_for('about') }}">About</a>
                <a class="nav-list" href="{{ url_for('dashboard') }}">Dashboard</a>
                <a class="nav-list" href="{{ url_for('team') }}">Team</a>

            </div>
        </div>
    </div>
    <div class="sideB">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

<style>
    /* .sideA{
        background-image: url('/static/images/bg6.jpg');
    } */
</style>
